body {
    padding: 0px;
    border: 0.6px solid black;
}
img {
    width: 150px;
    /* float: right; */
    /* background-color: black; */
    padding: 0.6px;
    position: absolute;
    right: 10px;
    top: 16px;
}
.padleft {
    padding-left: 10px;
    text-decoration: underline;
}
#h1 {
    text-decoration: none;
}
